[functions.complete-meeting]
verify_jwt = false

[functions.create-survey]
verify_jwt = false

[functions.meeting-reminder]
verify_jwt = false

[functions.notify-meeting-approved]
verify_jwt = false

[functions.notify-meeting-unapproved]
verify_jwt = false

[functions.notify-survey-created]
verify_jwt = false

[functions.survey-reminder]
verify_jwt = false


